* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
}

body {
    background: linear-gradient(100deg, #beb7ff, #ffb2b2);
    color: black;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #0e3153;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #0a2540;
  height: 60px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: auto;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
}

.nav-item:hover{
  color: #0077b5;
}

.nav-social a {
    font-size: 20px;
    color: #ffffff;
    margin-right: 20px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-social a:hover {
    color: #0077b5; 
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-left: auto;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: #0a2540;
    width: 180px;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }
}

.logo {
    font-size: 28px;
}
.logo span {
    color: #38bdf8;
}

.hero {
    text-align: center;
    margin-top: 40px;
}

.hero img {
    width: 200px;
    border-radius: 50%;
    border: 4px solid #87d1f0;
    margin-bottom: 15px;
    padding: 3px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background: #38bdf8;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.pro_git{
    display: flex;
    margin: 10px 10px 10px 0;
    padding: 7px;
    border-radius: 20px;
    background-color: #0a2540;
    text-decoration: none;
    border: 1px solid #0a2540;
    display: inline-block;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
}

.pro_git:hover{
  transform: translate(2px, 2px);
  background-color: rgb(48, 23, 158);
}

.pro_resume{
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid #0a2540;
    padding: 7px;
    background-color: #0a2540;
    color: white;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
}

.pro_resume:hover{
  background-color: rgb(48, 23, 158);
  transform: translate(2px, 2px);

}

section {
    padding: 60px 10%;
}

section h2 {
    margin-bottom: 20px;
    color: #111827;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-grid span {
    background: #06215a;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.progress {
  width: 100%;
  height: 8px;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: #38bdf8;
  border-radius: 10px;
  transition: width 1s ease;
}

.percent {
  font-size: 13px;
  color: #000000;
  float: right;
  margin-top: 4px;
}

.projects_container{
  display: flex;
  gap: 10px;
  overflow: visible;
  flex-direction: row;
}

@media (max-width: 768px){
  .projects_container{
    flex-direction: column;
    align-items: center;
  }
  .project-card{
    width: 100%;
    max-width: 95%;
  }

}

.project-card {
    background: white;
    padding: 20px;
    padding-left: 50px;
    margin-bottom: 15px;
    border-left: 5px solid #38bdf8;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
    text-decoration: none;
    color: black;
}

.project-card:hover{
  box-shadow: 2px 12px 25px rgba(0, 0, 0, 0.2);
  background-color: rgb(194, 194, 194);
}

.social {
    margin-top: 20px;
    text-align: center;
}

.social a {
    font-size: 22px;
    color: #333;
    margin-right: 15px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social a:hover {
    color: #0077b5; 
}

html {
  scroll-behavior: smooth;
}

.blink-once {
  animation: blinkOnce 1s ease-in-out;
}

@keyframes blinkOnce {
  0% {
    background-color: rgba(0, 0, 0, 0.529);
  }
  100% {
    background-color: transparent;
  }
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    color: white;
}
